block main
    main(class="main")
        div(class="continer main__continer")        
            div(class="main__content main__continer__content")
                include ./Search/index
                include ./Profile/index
                include ./RemoveCheckedItemsPopUp/index
                include ./AddNewProductList/index
                include ./Products/index