block header  
    header(class="header")  
        div(class="continer header__continer") 
            div(class="header__content header__continer__content")
                div(class="header__content__logo")
                    img(class="header__content__logo__img" src="@svg/logo.svg" alt="logo")
                    h1(class="header__content__logo__title")
                        |  PreLanding Redaktor
                include ./NavBar/index
                img(class="header__content__user-img user-img" src="@images/user.png" alt="user")  
            include ./Popup/index
                
                        

