block user  
    div(class="user profile__block__user")
        img(class="user__img user-img" src="@images/user.png", alt="user")
        label(for="inputFile") 
            img(class="user__icon-upload-img" src="@svg/icon-upload-img.svg" alt="icon upload img")
        input(class="user__input-file" type="file" name="inputFile" id="inputFile")
        p(class="user__name") Phillip Mackie
            
    