block profile
    div(class="profile main__content__profile")
        div(class="profile__block")
            div(class="profile__block__wrapper-title")
                h3(class="profile__block__wrapper-title__title")
                    | Профиль
                span(class="profile__block__wrapper-title__closed-window closed-window-profile")
                    | X
            include ./User/index        
            include ./Form/index
