block RemoveCheckedItemsPopUp 
    div(class="checked-items-popup-100vh")
        div(class="checked-items-popup main__content__checked-items-popup")
            p(class="checked-items-popup__closed-popup")
                | X
            p(class="checked-items-popup__text")
                |  are you shure 
            div(class="checked-items-popup__wrapper-btns")
                button(class="checked-items-popup__wrapper-btns__yes" type="button")
                    |  yes
                button(class="checked-items-popup__wrapper-btns__no" type="button")
                    |  no