- const navItems    = ["Мои проекты", "Шаблоны", "Пользователи", "Все Проекты"];
- const countrys    = ["all", "Россия", "Белоруссия", "Армения", "США"];
- const categorys   = ["all", "date structure", "designer", "back end", "front end"];
- const sections    = ["N", "Проекты", "Категория", "Офферы", "Гео", "Дата", "Статус"];
- const popupLists  = [{value:"Профиль", name:"profile"}, {value:"Пароль", name:'password'}, {value:"Автосохранения", name:"Autosave"}];
- const formInputes = [{name:"login", type:"text", placeholder:"Логин : admin"}, {name:"name", type:"text", placeholder:"Логин : admin"}, {name:"email", type:"email", placeholder: "Эл. адрес : admin@plr.ru"}];