//- block mobileList
//-     div(class="mobile-list products__list__mobile-items")
//-         p(class="mobile-list__type")
//-             |  Develop
//-         p(class="mobile-list__product-name")
//-             span(class="mobile-list__product-name__name")
//-             |  AlcoTaboo 
//-             span(class="mobile-list__product-name__price")
//-             |  149 eur
//-         p(class="mobile-list__geo")
//-             |  RU
//-         p(class="mobile__list__date")
//-             |  aysor 01.01.2022
//-         div(class="mobile__list__status")
//-             img(class="mobile__list__status__download" src="@svg/download-icon.svg")
//-             img(class="mobile__list__status__delete" src="@svg/delete.svg")
//-             button(class="mobile__list__status__check" type="button")